In [1]:
# Importing all the required libraries.

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import matplotlib.pyplot as plt

In [2]:
# Reading the dataset files using pandas.

train_data = pd.read_csv("A_Z Handwritten Data.csv")

In [3]:
train_data.shape

(372450, 785)

In [8]:
train_data['0'].value_counts()

14    57825
18    48419
20    29008
2     23409
19    22495
15    19341
13    19010
0     13869
12    12336
11    11586
17    11566
4     11440
24    10859
22    10784
3     10134
1      8668
9      8493
7      7218
23     6272
25     6076
16     5812
6      5762
10     5603
21     4182
5      1163
8      1120
Name: 0, dtype: int64

In [9]:
# Extracting 20% data from dataset .

df=train_data.sample(frac=0.2)

In [10]:
df['0'].value_counts()

14    11580
18     9646
20     5855
2      4694
19     4549
13     3862
15     3840
0      2782
12     2414
11     2340
17     2281
4      2243
24     2228
22     2189
3      2030
1      1712
9      1682
7      1397
23     1225
25     1188
10     1177
6      1154
16     1132
21      806
5       255
8       229
Name: 0, dtype: int64

In [11]:
df.shape

(74490, 785)

In [12]:
df.head(5)

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.639,0.640,0.641,0.642,0.643,0.644,0.645,0.646,0.647,0.648
24852,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334109,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
364926,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28059,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
292952,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df["0"].value_counts()

14    11580
18     9646
20     5855
2      4694
19     4549
13     3862
15     3840
0      2782
12     2414
11     2340
17     2281
4      2243
24     2228
22     2189
3      2030
1      1712
9      1682
7      1397
23     1225
25     1188
10     1177
6      1154
16     1132
21      806
5       255
8       229
Name: 0, dtype: int64

In [14]:
a=df.iloc[:50000,:]
a.shape

(50000, 785)

In [15]:
## Separating the X and Y variable

y = a['0']

## Dropping the variable 'label' from X variable 
x = a.drop('0',axis=1)

In [140]:
x.shape, y.shape

((50000, 784), (50000,))

In [141]:
type(x)

pandas.core.frame.DataFrame

In [143]:
x = np.array(x)
x = x.reshape(-1,28,28,1)

In [144]:
x.shape

(50000, 28, 28, 1)

In [145]:
# Scaling the input data

x = x/255          
x.shape

(50000, 28, 28, 1)

In [146]:
# Importing to_categorical library from tensorflow.

from tensorflow.keras.utils import to_categorical

In [147]:
y = to_categorical(y,num_classes=26)

In [148]:
# Importing libraries required to build a CNN model.

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPool2D, Flatten

In [149]:
# Building a CNN model.

model = Sequential()
model.add(Conv2D(16,(3,3),padding='same',activation='relu',input_shape=(28,28,1)))
model.add(MaxPool2D())
model.add(Conv2D(32,(3,3),padding='same',activation='relu'))
model.add(MaxPool2D())
model.add(Conv2D(64,(3,3),padding='same',activation='relu'))
model.add(MaxPool2D())
model.add(Flatten())
model.add(Dense(26,activation='softmax'))

In [150]:
# Reports the strength of the relationship between the model and the dependent variable.

model.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_22 (Conv2D)          (None, 28, 28, 16)        160

 max_pooling2d_21 (MaxPoolin  (None, 14, 14, 16)       0
 g2D)

 conv2d_23 (Conv2D)          (None, 14, 14, 32)        4640

 max_pooling2d_22 (MaxPoolin  (None, 7, 7, 32)         0
 g2D)

 conv2d_24 (Conv2D)          (None, 7, 7, 64)          18496

 max_pooling2d_23 (MaxPoolin  (None, 3, 3, 64)         0
 g2D)

 flatten_9 (Flatten)         (None, 576)               0

 dense_9 (Dense)             (None, 26)                15002

=================================================================
Total params: 38,298
Trainable params: 38,298
Non-trainable params: 0
_________________________________________________________________

In [151]:
# Defines the loss function, the optimizer and the metrics.

model.compile(loss='categorical_crossentropy',metrics=['accuracy'])

In [152]:
# Training the model with the given inputs.

model.fit(x,y,epochs=10,batch_size=32)

Epoch 1/10
1563/1563 [==============================] - 26s 15ms/step - loss: 0.3952 - accuracy: 0.8872
Epoch 2/10
1563/1563 [==============================] - 25s 16ms/step - loss: 0.1241 - accuracy: 0.9651
Epoch 3/10
1563/1563 [==============================] - 26s 17ms/step - loss: 0.0921 - accuracy: 0.9748
Epoch 4/10
1563/1563 [==============================] - 26s 17ms/step - loss: 0.0758 - accuracy: 0.9799
Epoch 5/10
1563/1563 [==============================] - 27s 17ms/step - loss: 0.0661 - accuracy: 0.9824
Epoch 6/10
1563/1563 [==============================] - 27s 17ms/step - loss: 0.0568 - accuracy: 0.9848
Epoch 7/10
1563/1563 [==============================] - 27s 17ms/step - loss: 0.0520 - accuracy: 0.9862
Epoch 8/10
1563/1563 [==============================] - 27s 17ms/step - loss: 0.0459 - accuracy: 0.9877
Epoch 9/10
1563/1563 [==============================] - 28s 18ms/step - loss: 0.0433 - accuracy: 0.9884
Epoch 10/10
1563/1563 [==============================] - 28s 18ms/step - loss: 0.0394 - accuracy: 0.9895

In [153]:
# Importing libraries for displaying the image.

import os
import cv2

In [154]:
# Function to preprocessing the image

def get_digit(path):
    img = cv2.imread(path,0)
    img = cv2.resize(img, (28,28)) /255
    return model.predict(img.reshape(1,28,28,1)).argmax()

In [155]:
# Calling the above function.

get_digit('imgA.jpg')

9

In [156]:
# Locating the dataset file.

folder_location = '../Amol/Alpha Dataset/'

In [157]:
# Extracting files from the folder location.

file_names = os.listdir(folder_location)

In [158]:
file_names

['imgA.png', 'imgB.jpg', 'imgF.png', 'imgM.png']

In [159]:
# Creating the path of the image.

for file in file_names:
    print(folder_location+file)

../Jyoti/Datasets/Alphabet Dataset/imgA.png
../Jyoti/Datasets/Alphabet Dataset/imgB.jpg
../Jyoti/Datasets/Alphabet Dataset/imgF.png
../Jyoti/Datasets/Alphabet Dataset/imgM.png

In [160]:
# Getting the image file from the location.

for file in file_names:
    digit = get_digit(folder_location+file)
    print(file, '\t-----',digit)

imgA.png 	----- 0
imgB.jpg 	----- 1
imgF.png 	----- 5
imgM.png 	----- 24