In [1]:
# Importing all the required libraries.

import numpy as np
import pandas as pd

In [2]:
# Reading the dataset files using pandas.

train_data = pd.read_csv("train.csv")

In [3]:
train_data.shape

(42000, 785)

In [4]:
train_data.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train_data["label"].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [6]:
## Separating the X and Y variable

y = train_data['label']

## Dropping the variable 'label' from X variable 

x = train_data.drop('label',axis=1)

In [7]:
x.shape, y.shape

((42000, 784), (42000,))

In [8]:
type(x)

pandas.core.frame.DataFrame

In [9]:
x = np.array(x)
x = x.reshape(42000,28,28,1)

In [10]:
x.shape

(42000, 28, 28, 1)

In [11]:
# Scaling the input data

x = x/255   
x.shape

(42000, 28, 28, 1)

In [12]:
# Importing to_categorical library from tensorflow.

from tensorflow.keras.utils import to_categorical

In [13]:
y = to_categorical(y,num_classes=10)

In [14]:
y.shape

(42000, 10)

In [15]:
# Importing libraries required to build a CNN model.

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPool2D, Flatten

In [16]:
# Building a CNN model.

model = Sequential()
model.add(Conv2D(16,(3,3),padding='same',activation='relu',input_shape=(28,28,1)))
model.add(MaxPool2D())
model.add(Conv2D(32,(3,3),padding='same',activation='relu'))
model.add(MaxPool2D())
model.add(Conv2D(64,(3,3),padding='same',activation='relu'))
model.add(MaxPool2D())
model.add(Flatten())
model.add(Dense(10,activation='softmax'))

In [17]:
# Reports the strength of the relationship between the model and the dependent variable.

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 28, 28, 16)        160

 max_pooling2d (MaxPooling2D  (None, 14, 14, 16)       0
 )

 conv2d_1 (Conv2D)           (None, 14, 14, 32)        4640

 max_pooling2d_1 (MaxPooling  (None, 7, 7, 32)         0
 2D)

 conv2d_2 (Conv2D)           (None, 7, 7, 64)          18496

 max_pooling2d_2 (MaxPooling  (None, 3, 3, 64)         0
 2D)

 flatten (Flatten)           (None, 576)               0

 dense (Dense)               (None, 10)                5770

=================================================================
Total params: 29,066
Trainable params: 29,066
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Defines the loss function, the optimizer and the metrics.

model.compile(loss='categorical_crossentropy',metrics=['accuracy'])

In [19]:
# Training the model with the given inputs.

model.fit(x,y,epochs=10,batch_size=32)

Epoch 1/10
1313/1313 [==============================] - 31s 23ms/step - loss: 0.2027 - accuracy: 0.9369
Epoch 2/10
1313/1313 [==============================] - 29s 22ms/step - loss: 0.0611 - accuracy: 0.9816
Epoch 3/10
1313/1313 [==============================] - 24s 19ms/step - loss: 0.0431 - accuracy: 0.9864
Epoch 4/10
1313/1313 [==============================] - 25s 19ms/step - loss: 0.0332 - accuracy: 0.9900
Epoch 5/10
1313/1313 [==============================] - 25s 19ms/step - loss: 0.0275 - accuracy: 0.9911
Epoch 6/10
1313/1313 [==============================] - 26s 20ms/step - loss: 0.0216 - accuracy: 0.9934
Epoch 7/10
1313/1313 [==============================] - 24s 18ms/step - loss: 0.0189 - accuracy: 0.9937
Epoch 8/10
1313/1313 [==============================] - 22s 17ms/step - loss: 0.0153 - accuracy: 0.9955
Epoch 9/10
1313/1313 [==============================] - 22s 17ms/step - loss: 0.0127 - accuracy: 0.9960
Epoch 10/10
1313/1313 [==============================] - 23s 17ms/step - loss: 0.0109 - accuracy: 0.9964

In [20]:
# Importing libraries for displaying the image.

import os
import cv2

In [21]:
# Function to preprocessing the image

def get_digit(path):
    img = cv2.imread(path,0)
    img = cv2.resize(img, (28,28)) /255
    return model.predict(img.reshape(1,28,28,1)).argmax()

In [22]:
# Calling the above function.

get_digit('img2.jpg')

2

In [23]:
# Locating the dataset file.

folder_location = '../Jyoti/Datasets/Digit Dataset/'

In [24]:
# Extracting files from the folder location.

file_names = os.listdir(folder_location)

In [25]:
file_names

['im.jpg',
 'im1.jpg',
 'img2.jpg',
 'img20.png',
 'img7.png',
 'img7_new.jpg',
 'img8.jpg']

In [26]:
for file in file_names:
    print(folder_location+file)

../Jyoti/Datasets/Digit Dataset/im.jpg
../Jyoti/Datasets/Digit Dataset/im1.jpg
../Jyoti/Datasets/Digit Dataset/img2.jpg
../Jyoti/Datasets/Digit Dataset/img20.png
../Jyoti/Datasets/Digit Dataset/img7.png
../Jyoti/Datasets/Digit Dataset/img7_new.jpg
../Jyoti/Datasets/Digit Dataset/img8.jpg

In [27]:
for file in file_names:
    digit = get_digit(folder_location+file)
    print(file, '\t-----',digit)

im.jpg 	----- 2
im1.jpg 	----- 2
img2.jpg 	----- 2
img20.png 	----- 2
img7.png 	----- 0
img7_new.jpg 	----- 7
img8.jpg 	----- 8